<mat-toolbar class="toolbar">
	<!-- Menu button with the icon -->
	<button class="toolbar__icon-button" mat-icon-button>
		<mat-icon>menu</mat-icon>
	</button>

	<!-- displays logo in the center of toolbar  -->
	<div class="toolbar__logo-title-group"
			 fxLayout
			 fxLayoutAlign="center center">
			 <!-- Turns logo into a clickable link that displays HomeComponent with routes -->
			<a routerLink="/"
				fxLayout>
				<img 
					class="toolbar__logo"
					src="/assets/logo.svg" 
					alt="NgAuction Logo">
			</a>
			<!-- turns the text NgAuction into a clickable link -->
			<a class="toolbar_title" 
				routerLink="/">NgAuction</a>
	</div>
	<!-- a filler to push shopping cart icon to the right  -->
	<div fxFlex></div>
	<!-- the shopping cart button with an icon -->
	<button mat-icon-button class="toolbar_icon-button
			toolbar_shopping-cart-button">
		<mat-icon>shopping_cart</mat-icon>
	</button>
</mat-toolbar>

<!-- commented out until routes is configured -->
<router-outlet></router-outlet>