<!DOCTYPE html>
<html>

<head>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="nav"><% include partials/navigation %></div>
  <%- body %>
  <div id="footer">footer</div>
</body>

</html>