<div class="container">
    <div class="col-sm-6">
        <img src="images/graph.png" alt="">
    </div>
    <div class="col-sm-6">
        <h1>Reach out to us!</h1>
        <p>Enter your email if you're interested to learn more:</p>

        <div>
            <form action="/contact" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name">
                <label for="email">Email</label>
                <input type="email" name="email">
                <input type="submit" value="Submit">
            </form>
        </div>


        <p> We'll get back to you soon!</p>
    </div>
</div>