<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/bootstrap.css">
        <title>Welcome</title>
    </head>
</html>


<body>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="courses.html">Courses</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>

    <h1>Contact</h1>

    <form action="contact-form" action="/" method="POST">
        <input type="email" name="email" required>
        <input class="button" type="submit" value="submit">
    </form>
</body>

