:host {
    display: block;
}

auction-carousel {
    margin-bottom: 16px;
}

.product-grid {
    display: flex;
        flex-wrap: wrap;
    margin: 0 -8px;
}

nga-product-item {
    margin: 8 8px 16px;
    /*  Gives one third of the screen width 
        plus a margin to each component */
    flex-basis: calc(100% / 3 - 16px);
}