body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #8e7c93;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.root {
	background-color: #fff;
	margin: 100px;
	padding: 10px;
	border-radius: 3px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttons {
	background-color: transparent;
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 3px;
	transition: all 0.15s ease-in;
}

.buttons:hover:nth-child(1) {
	background-color: #f45b69;
}

.buttons:hover:nth-child(3) {
	background-color: #C0DFA1;
}
